@model List<DataLayer.Article>
@using Utility;
    @{ 
        List<DataLayer.ArticleGroups> articleGroup = ViewBag.ArticleGroup;
    }


<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div style="text-wrap:none; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="card card-blog">
                    <div class="card-img">
                        <a href="/article/articlepage/@item.ID">
                            <img title="@item.Description" style="width:100%;height:100%;object-fit:fill" src="/Images/Articles/Thumb/@item.Image" alt="" >
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h5 class="category">@articleGroup.FirstOrDefault(p=>p.ID==item.GroupID).GroupName</h5>
                            </div>
                        </div>
                        <h5 class="card-title">
                            <a href="/article/articlepage/@item.ID">@item.Name</a>
                        </h5>
                        @*<p class="card-description">
                       @item.Description
                        </p>*@
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/Content/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">@item.Author</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> @ShamsiDate.DateDiffrence(DateTime.Now,item.CreateDate)
                        </div>
                    </div>
                </div>
            </div>
        }

      
    </div>