@model IEnumerable<DataLayer.Article>
@using Utility

@{
    Layout ="/Areas/Admin/Views/Shared/_DefaultAdminLayout.cshtml";;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p style="text-align:right">
     
        <a class="btn btn-success" href="@Url.Action("Create")">افزودن مقاله جدید</a>
    </p>

    <table id="example" class="display table table-striped bg-light text-center" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                       @item.CreateDate.ToShamsi()
                    </td>
                    <td>
                        <a title="مشاهده در سایت" class="fas fa-file-alt text-primary fa-lg mr-2" href="/article/articlepage/@item.ID"></a>
                        <a title="ویرایش" class="fas fa-edit fa-lg text-warning mr-2" href="@Url.Action("Edit",new {id=item.ID})"></a>
                        <a title="حذف" class="fas fa-trash-alt fa-lg text-danger mr-2" href="@Url.Action("Delete",new {id=item.ID})"></a>






                    </td>
                </tr>
            }
        </tbody>
   
    </table>

</body>
</html>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    
    }
